---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Base from "../../layouts/Base.astro";

export async function getStaticPaths() {
  const games = await getCollection("games");
  return games.map((game) => ({
    params: { id: game.id },
    props: { game },
  }));
}

const { game } = Astro.props;
const { title, dateString, winners, images, videos } = game.data;
---

<Base>
  <div class="pb-4">
    <h1 class="text-3xl text-neutral-700">{title}</h1>
    <h2 class="text text-neutral-700">{dateString}</h2>
  </div>

  <div class="flex flex-col space-y-6">
    <section>
      <h3 class="text-xl font-semibold text-neutral-800 pb-3">Notes</h3>
      <div class="text-neutral-700">{game.body}</div>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-neutral-700 pb-3">Scores</h3>
      <ol class="list-decimal pl-6 text-gray-700">
        {
          winners.map((winner, i) => (
            <li>
              {i == 0 && <strong>Winner:</strong>} {winner}
            </li>
          ))
        }
      </ol>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-neutral-700 pb-3">Photos</h3>
      <div class="flex flex-col space-y-12">
        {images.map((image) => <Image src={image} alt={image.src} />)}
      </div>
    </section>

    {
      videos != undefined && videos.length > 0 && (
        <section>
          <h3 class="text-xl font-semibold text-neutral-700 pb-3">Videos</h3>
          <div class="flex flex-col space-y-12">
            {videos.map((url) => (
              <video controls>
                <source src={url} type="video/mp4" />
              </video>
            ))}
          </div>
        </section>
      )
    }
  </div>
</Base>
