---
import Base from "../layouts/Base.astro";

const { game } = Astro.props;
const { title, dateString, winners, images } = game.data;
---

<Base>
  <div class="pb-4">
    <h1 class="text-3xl text-neutral-700">{title}</h1>
    <h2 class="text text-slate-700">{dateString}</h2>
  </div>

  <div class="flex flex-col space-y-6">
    <section>
      <h3 class="text-xl font-semibold text-neutral-800 pb-3">Notes</h3>
      <div class="text-slate-600">{game.body}</div>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-neutral-700 pb-3">Scores</h3>
      <ol class="list-decimal pl-6 text-gray-700">
        {winners.map((winner) => <li>{winner}</li>)}
      </ol>
    </section>

    <section>
      <h3 class="text-xl font-semibold text-neutral-700 pb-3">Photos</h3>
      <div class="flex flex-col space-y-12">
        {images.map((url) => <img src={url} alt={url} />)}
      </div>
    </section>
  </div>
</Base>
